In [1]:
import os
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pwd

'/home/kimhj9502/Project/project_tDCS/analysis'

In [3]:
DATA_DIR = Path('/home/kimhj9502/Project/project_tDCS/fMRI_task/data')

In [4]:
OUT_DIR = Path('/data2/project_BRL/project_tDCS/behav/data')

In [5]:
# 116 - 중도포기 
anode_first = [14, 28, 18, 33, 61, 60, 63, 64, 76, 91, 86, 59, 105, 107, 109, 112, 121, 127, 126, 103] # 116
sham_first = [4, 15, 30, 54, 43, 11, 27, 94, 73, 79, 101, 102, 108, 110, 104, 113, 125, 69]

In [6]:
sub_ls = anode_first + sham_first

In [7]:
len(sub_ls)

38

In [8]:
m = 0
for i in sub_ls:
    tsvs = [s for s in sorted(os.listdir(DATA_DIR)) if '.tsv' in s]
    tmp = format(i, '04d')
    print(tmp)
    tmp_ls = [s for s in tsvs if tmp in s]
    
    anode = 1 if i in anode_first else 2
    sham = 1 if i in sham_first else 2
    
    c = 0
    for n in [sham, anode]:
        run_ls = [s for s in tmp_ls if 'ses-'+str(n) in s]
        
        if len(run_ls) > 0:
            run_1 = pd.read_table(DATA_DIR / run_ls[0],index_col = 0)
            run_2 = pd.read_table(DATA_DIR / run_ls[1],index_col = 0)
            run_3 = pd.read_table(DATA_DIR / run_ls[2],index_col = 0)
            
            ## Fix errors in BRL0011 ses-1 run-3 subject 112 --> 11
            if (i == 11) and (n == 1):
                run_3.index = [11] * len(run_3.index); run_3.index.name = 'subject'
            ##
            
            run_12 = pd.concat([run_1, run_2])

            ses = pd.concat([run_12, run_3])
            ses['trial'] = list(range(1,181))
            
            if c == 0:
                ses['db'] = 1; ses['ses'] = n
                ses.to_csv(OUT_DIR/'concat_sub'/('sub-BRL'+tmp+'_ses-sham.tsv'), sep='\t')
                if m == 0:
                    sham_df = ses
                else:
                    sham_df = pd.concat([sham_df, ses])
            else:
                ses['db'] = 2; ses['ses'] = n 
                ses.to_csv(OUT_DIR/'concat_sub'/('sub-BRL'+tmp+'_ses-anode.tsv'), sep='\t')
                if m == 0:
                    anode_df = ses
                else:
                    anode_df = pd.concat([anode_df, ses])

        c=c+1
    m=m+1

0014
0028
0018
0033
0061
0060
0063
0064
0076
0091
0086
0059
0105
0107
0109
0112
0121
0127
0126
0103
0004
0015
0030
0054
0043
0011
0027
0094
0073
0079
0101
0102
0108
0110
0104
0113
0125
0069

In [9]:
anode_df.to_csv(OUT_DIR / 'anode_2106.txt', sep='\t')
sham_df.to_csv(OUT_DIR / 'sham_2106.txt', sep='\t')

In [10]:
all_df = pd.concat([anode_df,sham_df])

In [11]:
all_df.to_csv(OUT_DIR / 'all_2106.txt', sep='\t')